<div class="relative h-full w-full bg-[url('/assets/Images/hero.jpg')] bg-center bg-no-repeat bg-fixed bg-cover">
  <div class="bg-black w-full h-full bg-opacity-50">
    <nav class="px-12 py-5">
      <img src="/assets/Images/logo.png" alt="Logo" class="h-12">
    </nav>
    <div class="flex justify-center">
      <div class=" bg-black bg-opacity-70 px-16 py-16 self-center mt-2 lg:w-2/5 lg:max-w-md rounded-md w-full">
        <h2 class="text-white text-4xl mb-8 font-semibold">
          Sign in
        </h2>
        <div class="flex flex-col gap-4">
          <app-input-component></app-input-component>
        </div>
      </div>
    </div>
  </div>
</div>
